body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #111;
}

#index {
  overflow: hidden;
}

div {
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
}

img {
  width: 100vw;
}

ul {
  list-style-type: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  text-transform: uppercase;

}

.nav-links a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: 0.5s ease;
  transform: translateX(0%);
  font-size: 1.25rem;
  font-weight: 600;
}



.nav-links a:hover {
  color: red;
  letter-spacing: 5px;
}

.burger {
  display: none;
}

.burger div {
  width: 35px;
  height: 4.2px;
  background: #fff;
  margin: 6.2px;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 760px) {
  nav {
    justify-content: space-between;
    padding: 0 5vw;
  }

  .nav-links {
    position: absolute;
    right: 0;
    top: 0vh;
    min-height: 100vh;
    background: #000;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0;
    padding: 0;
    transform: translateX(100%);
    transition: All 0.5s ease-in;
    justify-content: space-evenly;
    opacity: 85%;

  }

  .nav-links a {
    opacity: 0;
    color: #fff;
  }

  .burger {
    display: block;
  }

}

@media only screen and (max-width: 640px) {
  nav {
    justify-content: space-between;
    padding: 0 5vw;
  }
}

.nav-active {
  transform: translateX(0);
}

@media only screen and (max-width: 460px) {
  .nav-links {
    width: 100%;
    transition: All 0.5s ease;
  }
}


.nav-active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-7px, 7px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-7px, -7px);
}

.logo-image {
  width: 18%;
  border-radius: 1.5rem;
}

.logo {
  padding: 10px 50px;
  position: relative;
  /* Ensure positioning context */
  z-index: 2;
  /* Ensure logo appears above burger menu */
  text-align: left;
}

.nav-active .logo {
  visibility: visible;
  /* Ensure logo is visible when menu is active */
}

#instagram {
  width: 4.6875rem;
}

.hidden {
  display: none;
}


#wrapper {
  /* Remove position: absolute; */
  /* Remove top: 0; */
  /* Remove left: 0; */
  /* Remove right: 0; */
  /* Remove bottom: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  padding-top: 100px;
  /* Adjust padding to allow space for navigation */
  /* Add the following lines to allow scrolling */
  height: 100%;
  overflow-y: auto;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.btn {
  padding: 0px 80px;
  /* Initial padding */
  border: none;
  border-radius: 12px;
  transition: padding 0.5s ease;
  /* Transition for padding change */
  height: 46px;
  /* Include padding in the element's height */
}

.btn-text {
  font-size: 1.3rem;
  font-weight: bold;
}

.btn:hover {
  padding: 0 100px;
  /* Increased padding on hover */
  color: white;
  background-color: #000;
  font-size: 1.5rem;
  font-weight: bold;
}

.text-main {
  font-size: 2.8rem;
  color: #fbfaf2;
  font-style: italic;
  text-align: center;
}

/* Add this CSS to position the slideshow behind the main page */
.slideshow-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Your CSS content */

.my-slides {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.menu {
  height: auto;
  margin: 275px 0 0 0;
  width: 100vw;
  background-color: white;
}

.menu-items {
  margin: 20px 0;
}