body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background: #111;
  overflow-x: hidden;
}

#index {
  overflow: hidden;
}

div {
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
}

img {
  width: 100vw;
}

ul {
  list-style-type: none;
}

li {
  letter-spacing: 2px;
}

h2 {
  margin: 20px 0 5px 0;
}

.logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-align: center;
  width: 10%;
  /* Let the logo take available space */
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  text-transform: uppercase;
  text-align: right;
  margin-right: 20px;
  z-index: 10;
}

.nav-links a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: 0.5s ease;
  transform: translateX(0%);
  font-size: 1.25rem;
  font-weight: 600;
}

.nav-links a:hover {
  color: red;
  letter-spacing: 5px;
}

.burger {
  display: none;
}

.burger div {
  width: 35px;
  height: 4.2px;
  background: #fff;
  margin: 6.2px;
  transition: all 0.5s ease;
  z-index: 10;
}

@media only screen and (max-width: 760px) {
  nav {
    justify-content: space-between;
    padding: 0 5vw;
  }

  .nav-links {
    position: absolute;
    right: 0;
    top: 0vh;
    min-height: 100vh;
    background: #000;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0;
    padding: 0;
    transform: translateX(100%);
    transition: All 0.5s ease-in;
    justify-content: space-evenly;
    opacity: 85%;
  }

  .nav-links a {
    opacity: 0;
    color: #fff;
  }

  .burger {
    display: block;
    z-index: 10;
  }

  .logo {
    margin: 0px 0 0 -50px;
  }

}

@media only screen and (max-width: 640px) {
  nav {
    justify-content: space-between;
    padding: 0 5vw;
  }
}

.nav-active {
  transform: translateX(0);
}

@media only screen and (max-width: 460px) {
  .nav-links {
    width: 100%;
    transition: All 0.5s ease;
  }
}


@media only screen and (max-width: 1080px) {
  .nav-links {
    flex-grow: 10;
  }
}

.nav-active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-7px, 7px);
  background-color: #fff !important;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-7px, -7px);
  background-color: #fff !important;
}

.logo-image {
  width: 75px;
  border-radius: 1.5rem;
}

.logo {
  padding: 10px 50px;
  position: relative;
  /* Ensure positioning context */
  z-index: 2;
  /* Ensure logo appears above burger menu */
  text-align: left;
}

.nav-active .logo {
  visibility: visible;
}

#instagram {
  width: 4.6875rem;
}

.hidden {
  display: none;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  padding-top: 100px;
  height: 100%;
  overflow-y: auto;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

#index-btn {
  border: none;
  border-radius: 12px;
  padding: 0 80px;
  height: 50px;
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
}

#index-btn:hover {
  background-color: black;
  color: #fff;
}

.btn {
  width: 70%;
  border: none;
  border-radius: 12px;
  transition: padding 0.5s ease;
  height: 50px;
}

.btn-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

.btn:hover {
  color: white;
  background-color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  width: 80%;
}

.text-main {
  font-size: 2.8rem;
  color: #fbfaf2;
  font-style: italic;
  text-align: center;
}

.slideshow-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.my-slides {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



#menu {
  background-color: #fbfaf2;
  margin: 150px 0 0 0;
}

.menu-items {
  margin: 25px 0;
}

.menu-title {
  padding: 25px 0 5px 40px;
}

.sides {
  margin-right: 50px;
}

.item-name {
  font-weight: 800;
  margin: 0 0 6px 0;
}

#body-kontakt {
  background-color: #fbfaf2;
}


.kontakt-link {
  text-decoration-line: none;
  color: #000;
  font-weight: 800;
}

.kontakt-link:hover {
  color: red;
}

#cards-body {
  background-color: #fbfaf2;
  overflow-x: hidden;
}

#cards-wrapper,
#menu {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: min-content;
}

.card-title {
  grid-column: span 12;
  text-align: left;
  margin: 30px 0 0 50px;
  font-size: 1.6rem;
}

@media only screen and (min-width: 1024px) {

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6,
  .card-7,
  .card-8,
  .card-9,
  .card-10,
  .card-11,
  .card-12 {
    grid-column: span 3;
    /* Make these cards span 2 columns */
    justify-content: center;
    margin: 30px 50px;
    /* Center the content horizontally */
  }

  .burgers,
  .annat-gött,
  .sides {
    grid-column: span 4;
    margin: 0 20px;
  }

  .slide-img {
    width: 120%;
  }
}

@media only screen and (max-width: 1200px) {

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6,
  .card-7,
  .card-8,
  .card-9,
  .card-10,
  .card-11,
  .card-12 {
    grid-column: span 4;
    /* Make these cards span 2 columns */
    justify-content: center;
    margin: 30px 50px;
    /* Center the content horizontally */
  }

  .burgers,
  .annat-gött,
  .sides {
    grid-column: span 4;
    margin: 0 20px;
  }
}

@media only screen and (max-width: 768px) {

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6,
  .card-7,
  .card-8,
  .card-9,
  .card-10,
  .card-11,
  .card-12 {
    grid-column: span 6;
    /* Make these cards span 2 columns */
    justify-content: center;
    margin: 30px 20px;
    /* Center the content horizontally */
  }

  .card-title {
    margin: 30px 0 0 20px;
  }

  .burgers,
  .annat-gött,
  .sides {
    grid-column: span 12;
    margin: 0 20px;
  }

}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.burger .burger-color {
  background-color: #000;
}